<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="charSet" value="UTF-8"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%-1p]) %highlight(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %boldMagenta(%logger) %cyan(%msg%n)</pattern>
            <charset>${charSet}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>